<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="town.guitar.community.mapper.PostExtMapper">
    <resultMap id="BaseResultMap" type="town.guitar.community.model.Post">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="GMT_CREATE" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="GMT_MODIFIED" jdbcType="BIGINT" property="gmtModified"/>
        <result column="CREATOR" jdbcType="INTEGER" property="creator"/>
        <result column="COMMENT_COUNT" jdbcType="INTEGER" property="commentCount"/>
        <result column="VIEW_COUNT" jdbcType="INTEGER" property="viewCount"/>
        <result column="LIKE_COUNT" jdbcType="INTEGER" property="likeCount"/>
        <result column="TAG" jdbcType="VARCHAR" property="tag"/>
    </resultMap>
    <update id="incView" parameterType="town.guitar.community.model.Post">

    update POST
    set
    VIEW_COUNT = VIEW_COUNT + #{viewCount,jdbcType=INTEGER}
    where ID = #{id}
  </update>
    <update id="incCommentCount" parameterType="town.guitar.community.model.Post">

    update POST
    set
    COMMENT_COUNT = COMMENT_COUNT + #{commentCount,jdbcType=INTEGER}
    where ID = #{id}
  </update>

    <select id="selectRelated" parameterType="town.guitar.community.model.Post" resultMap="BaseResultMap">
        select * from POST where ID!= #{id} and tag regexp #{tag}
    </select>
    <select id="countBySearch" parameterType="town.guitar.community.dto.PostQueryDTO" resultType="java.lang.Integer">
        select count(*) from POST
        <where>
            <if test="search != null">
                and title regexp #{search}
            </if>
        </where>
    </select>
    <select id="selectBySearch" parameterType="town.guitar.community.dto.PostQueryDTO" resultMap="BaseResultMap">
        select * from POST
        <where>
            <if test="search != null">
                and title regexp #{search}
            </if>
        </where>
        order by gmt_create desc limit #{page},#{size}
    </select>


</mapper>